body{
    --back_color: rgb(193, 240, 128);
    background-color: var(--back_color);
}

.Introduction h1{
    color: var(--back_color);
}

.Content{
    grid-area: Content;
    color:brown;
}

.text{
    background-color: yellow;
}

